#canArena {
    position:absolute;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    width: 600px;
    height: 700px;
}


#canScore {
    position:absolute;
    z-index: 0;
}

#dead{
    position:absolute;
    color: white;
    font-size: 100px;
    top: 130px;
    left: 150px;
}

#background{
    position:absolute;
    width: 600px;
    height: 700px;
}

#buttons{
    position:absolute;
    top: 720px;
}

#button{
    margin-right: 200px;
}